@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #161616;
  color: white;
}

/* hover:bg-lightestgray border border-lightergray rounded */
/* lightgray: "#303030",
        lightestgray: "#494949", */
.nav-item {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.nav-item:hover {
  border: 1px solid #494949;
  border-radius: 4px;
  background-color: #494949;
}

.nav-item:first-child {
  margin-left: 4rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
